p { 
color :dark
}
body{
    background-color:white;
}

body {
    color: #000088
} 
h1 {
    font-size: 3.5rem;
    line-height: 1.2;
    max-width: 15ch;
  }
  
  p { 
    font-size: 1.25rem;
    max-width: 70ch; }